{{#section 'head'}}
    <!-- stuff that goes in head only for that file: -->
{{/section}}
<div class="abstand-oben">&nbsp;</div>
<h1>Index</h1>














{{!-- <h1>Willkommen auf {{ c4h }}</h1> --}}
{{!-- iter over a array --}}
{{!-- {{#each list }}
   {{ this }}   <br>
{{/each}} --}}
{{!-- ODER: <br> --}}
{{!-- {{#each list as |val key|}}
   {{ key }}: {{val}}<br>
{{/each}} --}}
{{!-- <br><br> --}}
{{!-- iter over an object --}}
{{!-- {{#each data}}
   {{this.name}} <br>
   {{this.age}} <br><br>   
{{/each}} --}}